@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --size: 1rem;
}


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}

header{
    height: 64px;
    display: flex;
    border-bottom: 1px solid black;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    height: 64px;
    margin-bottom: 16px;
    font-size: 16px;
    text-decoration: none;
    padding: 0.5rem;
    color: #212429; 
}

.navbar #container-1 {
    position: absolute;
    left: 0;
}

.navbar #container-2 {
    position: absolute;
    margin-left: 10%;
}


.navbar #container-3 {
    position: absolute;
    right: 0; 
} 

p {
    font-size: 32px;
    font-weight: 700;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item {
    padding: 20px;
    background-color: lightblue;
    border: 1px solid black;
}


@media (min-width: 1280px) {
    .navbar a {
        width: 33%;
        background-color: pink;
    }
}