@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --size: 1rem;
}


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
   

}

header{
    box-sizing: border-box;
    display: flex;
    
    /* border-bottom: 1px solid black; */
} 

body {
    background-color: #ffffff;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid black;
    background-color: #ffffff;
    border-top: #212429;
    padding: 16px;
    top: 0;
} 

.navbar a {
    font-size: 16px;
    text-decoration: none;
    color: #212429; 
}


.navbar #container-3 {
    display: flex;
    width: 264px;
    justify-content: space-between;
}   



p {
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 32;
        font-style: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item {
    
    padding: 20px;
    background-color: red;
    
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 14px;
}

.price {
    font-weight: 700;
    background-color: red;
}

.item img {
    border-radius: 15px;
}

.item p {
    font-weight: 400px;
    font-style: normal;
}

footer {
    display: flex;
    height: 128px;
    background-color: #212429;
    
}

.foot {
   color: #ffffff;
   display: flex;
   align-items: center;
    justify-content: space-between;
   width: 100%;
   height: 100%;

   padding: 10px;  
}


.foot img {
    border-radius: 80%;
    width: 64px;
    height: 64px;
    padding: 1em 1%;
    background-color: #ffffff;
}


.foot #container-4 {

    display: flex;
    justify-content: space-between;
    
}



.foot #container-6 {  
    display: flex;
    justify-content: space-between;

}

.foot #container-7 {  
    display: flex;
    justify-content: space-between;
    
}

@media (min-width: 1280px) {
    .navbar a {
        width: 33%;
    }
}

